.obraMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 5%;
}
.categoryNavDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.categoryNavDiv a {
    text-decoration: none;
}
.categoryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    border: 1px solid black;
    padding: 5%;
    width: 100%;
    margin-bottom: 7%;
}
.categoryButton p {
    font-family: "M Bold";
    font-size: 18px;
    color: black;
    margin: 0px;
}
.obraContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.modalSize {
    width: 100%;
}
.obraGridItem {
    width: 100%;
}
.modalBottomDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
}
.modalImage {
    width: 100%;
}
.obraInfo {
    font-family: "M Bold";
    font-size: 18px;
    color: black;
    margin-bottom: 0;
}
.gobackDiv {
    width: 100%;
    max-width: 1700px;
    padding: 0% 0% 3% 2%;
}
@media (min-width: 752px) {
    .obraMainDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 5%;
    }
    .obraContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        max-width: 1700px;
    }
    .categoryNavDiv {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .categoryButton {
        /* border-radius: 50px; */
        padding: 5%;
        width: 50%;
    }
    .categoryButton p {
        font-size: 18px;
        margin: 0;
    }
    .modal-size {
        width: 100%;
        max-height: 100%;
        
    }
}
@media (min-width: 1000px) {
    .categoryButton p {
        font-size: 21px;
    }
    .categoryButton {
        padding: 2%;
        width: 40%;
        margin-bottom: 5%;
    }
}
@media (min-width: 1500px) {
    .obraMainDiv {
        justify-content: flex-start;
        align-items: center;
        padding: 5%;
    }
    .obraContainer {
        max-width: 1500px;
    }
    .categoryNavDiv {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .categoryButton {
        width: 30%;
        margin-bottom: 3%;
        padding: 1% 2%;
        /* border-radius: 100px; */
    }
    .categoryButton p {
        font-size: 25px;
    }
    .obraInfo {
        font-size: 20px;
    }
}